<footer class="footer mt-5 mx-auto py-5 bg-light">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-2 text-center">
        <img src="/assets/img/fossi-foundation-logo.svg" class="d-block mx-auto" height="50px" />
        <p class="mt-2">cocotb is a <a href="https://www.fossi-foundation.org">FOSSi Foundation</a> project.</p>
      </div>
      <div class="col-md-2">
        <h2 class="fw-bold fs-5">Quick links</h2>
        <ul class="list-unstyled">
          <li><a href="https://docs.cocotb.org/en/stable/quickstart.html">Learn cocotb</a></li>
          <li><a href="https://docs.cocotb.org">Documentation</a></li>
          <li><a href="/#sec-support">Support</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h2 class="fw-bold fs-5">Follow cocotb</h2>
        <ul class="list-unstyled">
          <li><a rel="me" class="text-decoration-none" href="https://github.com/cocotb/cocotb"><i class="bi bi-github" role="img" aria-label="GitHub" title="GitHub"></i> cocotb</a></li>
          <li><a rel="me" class="text-decoration-none" href="https://www.linkedin.com/company/cocotb"><i class="bi bi-linkedin" role="img" aria-label="LinkedIn" title="Linkedin"></i> cocotb</a></li>
          <li><a rel="me" class="text-decoration-none" href="https://twitter.com/cocotbnews"><i class="bi bi-twitter" role="img" aria-label="Twitter" title="Twitter"></i> @cocotbnews</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <small class="col text-center">
        Except where otherwise noted, content on this site is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a> license.
        No license is granted for logos or trademarks.
        cocotb itself is licensed under <a href="https://github.com/cocotb/cocotb/blob/master/LICENSE">a permissive BSD license</a>.
      </small>
    </div>
  </div>
</footer>
