<header>
  <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light bg-white fs-5">
    <div class="container">
      <a class="navbar-brand" href="/" aria-label="cocotb">
        <img height="82px" src="/assets/img/cocotb-logo.svg" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbarContents" aria-controls="mainNavbarContents" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="mainNavbarContents">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://docs.cocotb.org/en/stable/quickstart.html">Learn cocotb</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://docs.cocotb.org">Documentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#sec-support">Support</a>
          </li>
        </ul>
        <div>
          <a class="btn btn-primary fw-bold fs-5" role="button" href="https://docs.cocotb.org/en/stable/install.html">Download</a>
        </div>
      </div>
    </div>
  </nav>
</header>
