// Overrides for bootstrap variables.
// List of variables: https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

// Our custom colors.
$color-cocotb-blue: #3776ab;
$color-cocotb-yellow: #ffcd3c;

// Override Bootstrap color theme.
$primary: $color-cocotb-blue;
$secondary: $color-cocotb-yellow;

// Typography.
$headings-font-weight: bold;

// Do not use rounded corners anywhere.
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
